{% extends "schemes/base.html" %} ' {% block content %} {% load static %}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="content mb-5">
          <p class="leading-snug text-justify mb-6">
            Welcome to JanJagruti! We are a one-stop destination for all your scheme recommendation needs. Our mission is to empower individuals with the knowledge and tools to make informed decisions about various schemes, be it investment plans, insurance policies, retirement plans, or other financial schemes.


          </p>
          <p class="leading-snug text-justify mb-6">
            Our team of experts carefully researches and analyzes different schemes from reputable sources to provide unbiased and comprehensive recommendations. Our user-friendly website is designed to simplify the process of understanding complex schemes, helping you make informed decisions that align with your financial goals and aspirations.

          </p>
         
        </div>
      </div>
      <div class="col-md-3">
        <div class="content mb-5">
          <p class="leading-snug text-justify mb-6">
            Whether you're a seasoned investor or just starting your financial journey, JanJagruti is here to assist you in navigating the often-confusing world of schemes. We strive to provide accurate, up-to-date, and trustworthy information to empower you to make well-informed decisions about the schemes that best suit your individual needs.

          </p>
          <p class="leading-snug text-justify mb-6">
            Join us today and let us be your trusted guide in navigating the world of schemes!

          </p>
         
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <img
            src="{% static 'images/post/post-6.jpg'%}"
            class="img-fluid w-100 mb-4 rounded-lg"
            alt="author"
          />
          <img
            src="{% static 'images/post/post-1.jpg'%}"
            class="img-fluid w-100 mb-4 rounded-lg"
            alt="author"
          />
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0;
                  margin: 0;
                  padding: 0;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    max-width: 100%;
                  "
                  ><img
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0;
                      margin: 0;
                      padding: 0;
                    "
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27740%27%20height=%27400%27/%3e" /></span
                ><img
                  alt="Eligibility Check"
                  title="Eligibility Check"
                  src="{% static 'images/mobile-app.png' %}"
                  decoding="async"
                  data-nimg="intrinsic"
                  class="border-0"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    box-sizing: border-box;
                    padding: 0;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0;
                    height: 0;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    object-fit: contain;
                  "
                />
              </span>
              <h3 class="text-2xl mt-4 mb-3 font-bold text-darkIndigo-900">
                Eligibility Check
              </h3>
              <p>
                You can check your eligibility for schemes using different
                criteria and personal attribute
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0;
                  margin: 0;
                  padding: 0;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    max-width: 100%;
                  "
                  ><img
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0;
                      margin: 0;
                      padding: 0;
                    "
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27740%27%20height=%27400%27/%3e" /></span
                ><img
                  alt="Eligibility Check"
                  title="Eligibility Check"
                  src="{% static 'images/job-search.png' %}"
                  decoding="async"
                  data-nimg="intrinsic"
                  class="border-0"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    box-sizing: border-box;
                    padding: 0;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0;
                    height: 0;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    object-fit: contain;
                  "
                />
              </span>
              <h3 class="text-2xl mt-4 mb-3 font-bold text-darkIndigo-900">
                Scheme Finder
              </h3>
              <p>
                Fast and easy searching with filter based drill downs for
                various Government Schemes
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0;
                  margin: 0;
                  padding: 0;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    max-width: 100%;
                  "
                  ><img
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0;
                      margin: 0;
                      padding: 0;
                    "
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27740%27%20height=%27400%27/%3e" /></span
                ><img
                  alt="Eligibility Check"
                  title="Eligibility Check"
                  src="{% static 'images/checking.png' %}"
                  decoding="async"
                  data-nimg="intrinsic"
                  class="border-0"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    box-sizing: border-box;
                    padding: 0;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0;
                    height: 0;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    object-fit: contain;
                  "
                />

                ></span
              >
              <h3 class="text-2xl mt-4 mb-3 font-bold text-darkIndigo-900">
                Scheme in detail
              </h3>
              <p>
                Deep dive into dedicated scheme pages for fine grained scheme
                details before you apply
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
