{% extends "schemes/base.html" %} {% block content %}
{% load static %}

<section class="section-xs">
    <div class="row" style="justify-content: space-around;">
      <div class="col-lg-6 flex_style  mb-5 mb-lg-0">
        <article class="row mb-5">
          <div class="col-12">
            <div class="post-slider">
              <img loading="lazy" src="{% static 'images/post/post-6.jpg'%}" class="img-fluid" alt="post-thumb">
              <img loading="lazy" src="{% static 'images/post/post-1.jpg'%}" class="img-fluid" alt="post-thumb">
              <img loading="lazy" src="{% static 'images/post/post-3.jpg'%}" class="img-fluid" alt="post-thumb">
            </div>
          </div>

        </article>


      </div>
      <div class="col-lg-6 flex_style">
        <div class="widget">
          <h5 class="widget-title"><span>Latest News</span></h5>
          <!-- post-item -->
          
          <ul class="list-unstyled widget-list">
            {% for n in latestNews %}
              <li class="media widget-post align-items-center">
                <img loading="lazy" class="mr-3" src="{{ n.image.url }}">
                <div class="media-body">
                  <h6 class="h6 mb-0"><a href="{% url 'newsdetail' n.slug %}">{{n.headline}}
                  </a></h6>
                  <small>{{ n.date|date:"M d, Y" }}</small>
                </div>
              </li>
            {% endfor%}
          </ul>
        </div>
      </div>
    </div>

    <div class="row" style="justify-content: space-between;">
      <div class="col-lg-6">
        
        <h6 class="section__title mb-30 h4">
          <span>Find schemes based
            on State</span>
        </h6>
        <!-- <p class="section__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sapiente
          alias
          cum vel numquam?</p> -->
        <div class="container">
          <div class="grid mb-3">
            {% for state in states%}
              {% if state.nstate != 0 %}
                <article class="border border-default article_main">
                  <a href="{%url 'state' state.name%}">
                  <div class="article_img">
                    <div class="inner_element">
                      <img src = "{{state.image}}" class="img-fluid img-thumbnail shadow-sm">
                    </div>
                  </div>
                  <div class="text">
                    {% if mstate.nstate > 1 %}
                    <p>{{state.nstate}} Schemes</p>
                    {% else %}
                    <p>{{state.nstate}} Scheme</p>
                    {% endif %}

                    <h6>{{state.name}}</h6>
                    <!-- <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a> -->
                  </div>
                </a>
                </article>
              {% endif %}
            {% endfor %}
          </div>
          <div class="row flexing">
            <a href="{%url 'stateList' %}" class="btn btn-outline-primary mr-1" style='text-align: center;'><span class='mr-1' style='text-align: center;'>Explore More</span><i class="ti-arrow-right"> </i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h6 class="section__title mb-30 h4">
          
          <span>Find schemes based
            on ministry</span>
        </h6>
        <!-- <p class="section__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sapiente
          alias
          cum vel numquam?</p> -->
        <div class="container">
          <div class="grid mb-3">
            {% for ministry in ministries%}
              {% if ministry.nmini != 0 %}
                <article class="border border-default article_main">
                  <a href="{%url 'ministry' ministry.slug%}">
                  <div class="article_img">
                    <div class="inner_element">
                      <img src = "{{ministry.image}}" class="img-fluid img-thumbnail shadow-sm">
                    </div>
                  </div>
                  <div class="text">
                    {% if ministry.nmini > 1 %}
                    <p>{{ministry.nmini}} Schemes</p>
                    {% else %}
                    <p>{{ministry.nmini}} Scheme</p>
                    {% endif %}

                    <h6>{{ministry.name}}</h6>
                    <!-- <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a> -->
                  </div>
                </a>
                </article>
              {% endif %}
            {% endfor %}
          </div>
          <div class="row flexing">
            <a href="{%url 'ministryList'%}" class="btn btn-outline-primary mr-1" style='text-align: center;'><span class='mr-1' style='text-align: center;'>Explore More</span><i class="ti-arrow-right"> </i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<hr>
<section class="section-xs">
  <h1 class="h1 section__title mb-30">
    Find schemes based
    on categories
    <!-- <span>Powered by Technology</span> -->
  </h1>

  <div class="container">
    <div class="grid">
      {% for category in categories%}
      {% comment %} {% if category.num_times != 0 %} {% endcomment %}
      <article class="border border-default article_main">
        <a href="{% url 'category' category.slug %}">
          <div class="article_img">
            <div class="bg-light inner_element">
              <img src={{category.image}} style="
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;" class="img-fluid img-thumbnail shadow-sm">
            </div>
          </div>
          <div class="text" style="text-align:center">
            {% if category.num_times > 1 %}
            <p style="margin-top:8px">{{category.num_times}} Schemes</p>
            {% else %}
            <p style="margin-top:8px">{{category.num_times}} Scheme</p>
            {% endif %}

            <h6>{{category.name}}</h6>
            <!-- <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a> -->
          </div>
        </a>
      </article>
      {% comment %} {% endif %} {% endcomment %}
      {% endfor%}

    </div>
  </div>
</section>
</main>
<hr>
<section class="section-xs">
  <div class="container">
    <div class="row" style="justify-content: space-around;">
      <div class="col-lg-6 flex_style  mb-5 mb-lg-0">
        <h1 id="collapse" style="margin: 10px;">Frequently Asked Questions</h1>
      </div>
      <div class="col-lg-6 flex_style">
        <div class="border rounded-lg collapse-wrapper mb-10 shadow-sm"> <a class="d-flex p-3 collapse-head"
          data-toggle="collapse" href="#collapse-1" role="button">
          <h5>What is Janjagurati ?</h5><i class="pt-2 pr-3 ml-auto ti-plus"></i>
        </a>
        <div class="collapse" id="collapse-1">
          <div class="p-3">Janjagurati is an e-Marketplace for Govt. schemes and services. Using
            Janjagurati
            you can
            find various government schemes, check your eligibility, and apply for the schemes.
          </div>
        </div>
      </div>
      <div class="border rounded-lg collapse-wrapper mb-10 shadow-sm"> <a class="d-flex p-3 collapse-head"
          data-toggle="collapse" href="#collapse-2" role="button">
          <h5>How Janjagurati will help common citizens?</h5> <i class="pt-2 pr-3 ml-auto ti-plus"></i>
        </a>
        <div class="collapse" id="collapse-2">
          <div class="p-3">Janjagurati will reduce the time and effort of citizens in searching for
            appropriate government schemes.The easy user interface of Janjagurati helps common
            people a
            lot
            in
            discovering and applying for schemes.</div>
        </div>
      </div>
      <div class="border rounded-lg collapse-wrapper mb-10 shadow-sm"> <a class="d-flex p-3 collapse-head"
          data-toggle="collapse" href="#collapse-3" role="button">
          <h5>Can I apply for the schemes through Janjagurati? </h5><i class="pt-2 pr-3 ml-auto ti-plus"></i>
        </a>
        <div class="collapse" id="collapse-3">
          <div class="p-3">For now, the platform shall direct you to the application page of the
            scheme of
            your choice.It is envisaged that in the upcoming phases, Janjagurati shall have the
            feature
            to
            apply for schemes / services from within the platform/ app.</div>
        </div>
      </div>
</section>
{% endblock content %}