{% extends "schemes/base.html" %} {% block content %}

<section class="section-xs">
  <div class="container">
    <h3 class="h3 mb-30">
      Find schemes based on Ministry
      <!-- <span>Powered by Technology</span> -->
    </h3>
    <div class="widget">
      <h5 class="widget-title"><span>Search</span></h5>
      <form class="widget-search">
        <input
          id="search-query"
          name="search-query"
          type="search"
          placeholder="Type &amp; Hit Enter..."
          value="{{search_input}}"

        />
        <button type="submit"><i class="ti-search"></i></button>
      </form>
    </div>
    <div class="grid">
      {% for ministry in ministries%}
      {% if ministry.nmini != 0 %}
        <article class="border border-default article_main">
          <a href="{%url 'ministry' ministry.slug%}">
          <div class="article_img">
            <div class="article_img">
              <div class="inner_element">
                <img src = "{{ministry.image}}" class="img-fluid img-thumbnail shadow-sm">
              </div>
            </div>
          </div>
          <div class="text">
            {% if ministry.nmini > 1 %}
            <p>{{ministry.nmini}} Schemes</p>
            {% else %}
            <p>{{ministry.nmini}} Scheme</p>
            {% endif %}

            <h6>{{ministry.name}}</h6>
            <!-- <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a> -->
          </div>
        </a>
        </article>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
