{% extends "schemes/base.html" %} {% block content %}
{% load static %}

<section class="section-xs">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <article class="row mb-4 card p-4 rounded-lg shadow border" id="title">
          <div class="col-md-12">
            <h3>{{ object.name}}</h3>
            <ul class="list-inline post-meta mb-3">
              {% comment %} <li class="list-inline-item">
                <i class="ti-user mr-2"></i><a href="#">{{object.nodalMinistry}}</a>
              </li>
              <li class="list-inline-item">Date : {{ object.uploadDate }}</li> {% endcomment %}
              <!-- <li class="list-inline-item">Categories : <a href="#!" class="ml-1">Photography </a>
                      </li> -->
              <li class="list-item post-tag">
                Tags : {% for tag in object.tags.all %}

                <a href="{% url 'tagged' tag.slug %}" class="ml-2">{{tag}} </a>
                {%endfor%}
              </li>
            </ul>
            <div class="row" style="justify-content: space-between">
              {% comment %} <a href="post-elements.html" class="btn btn-outline-primary">Checkout</a> {% endcomment %}
              <div>
              <div class="alert alert-success p-1 ml-3 mt-2" id='alrt' role="alert" style = "display:none">
                URL copied
              </div>
             
            </div>
              <script>
                  window.onload = function() {
                    function applyStyleToAnchors(className) {
                    const pdfDiv = document.querySelector('.'+ className);
                    const anchorTags = pdfDiv.querySelectorAll('a');
                    anchorTags.forEach(anchorTag => {
  // Apply your style to each anchor tag here
                    anchorTag.style.display = 'inline-block';
                    anchorTag.style.height = '50px';
                    anchorTag.style.paddingLeft = '50px';
                    anchorTag.style.backgroundImage = "url('https://scls.typepad.com/.a/6a00d8341d32e053ef01a3fceed4b4970b-pi')";
                    anchorTag.style.backgroundRepeat = 'no-repeat';
                    anchorTag.style.backgroundSize= 'contain';
                    anchorTag.style.backgroundPosition = 'left center';});
                            
    
                    }
                    applyStyleToAnchors('pdf_data');
            
                      };
                                      
              
                    function copyText() {
                      /* Copy text into clipboard */
                      document.getElementById('alrt').style.display='inline'; 
                      setTimeout(function() {document.getElementById('alrt').style.display='none';console.log("vt")},3000);
                      navigator.clipboard.writeText
                          (window.location.href);
                  }
                    function showShareOptions() {
                      var shareOptions = document.querySelector('.share-options');
                      shareOptions.style.display = 'block';
                      document.addEventListener('click', hideShareOptions);

                    }
                    function hideShareOptions(e) {
                      // console.log(e)
                      var shareIcon = document.querySelector('.share-icon');
                      var shareOptions = document.querySelector('.share-options');
                      var shareList = document.querySelector('.shareList');

                      // console.log(shareIcon,shareIcon.contains(e.target),shareOptions.contains(e.target),shareList.contains(e.target),e.target)
                      if (shareList.contains(e.target)){
                        console.log('ss')
                      }
                      else if (!shareOptions.contains(e.target) && !shareIcon.contains(e.target)) {
                        shareOptions.style.display = 'none';
                        document.removeEventListener('click', hideShareOptions);
                      }
                      }
                    function shareLink() {
                      var shareLink = document.querySelector('#share-link').value;
                      // Use a library or API to share the link (e.g. ShareThis, AddThis, etc.)
                    }
                  
              </script>
              <div class="row" style="position: relative;">
                <div class="shareList">
            
                <a onClick="showShareOptions()" class="btn btn-outline-primary mr-1" alt="Share URL"><i class="ti-share"> </i>
                </a>
                <div class="share-options" >
                  <a href="whatsapp://send?text=https://janjagruti.pythonanywhere.com/" data-action="share/whatsapp/share"><i class="share-icon ti-instagram"></i></a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=https://janjagruti.pythonanywhere.com/" target="_blank"><i class="share-icon ti-facebook"></i></a> 
                  <!-- <a href="whatsapp://send?text=https://janjagruti.pythonanywhere.com/" data-action="share/whatsapp/share"><i class="share-icon ti-whatsapp"></i></a> -->
                </div>
              </div>
                <a class="btn btn-outline-primary" onclick = "copyText()" alt="Copy URL"><i class="ti-link"> </i></a>
              </div>
             
            </div>
          </div>
        </article>
        <div id="details">
          <h4>Details</h4>
          <article class="row mb-4 card p-4 rounded-lg shadow-sm">
            <div class="col-md-12">
              <p>{{ object.details|safe }}</p>
            </div>
          </article>
        </div>
        {% comment %} benefit {% endcomment %}
        <div id="eligibility">
          <h4>Eligibility</h4>
          <article class="row mb-4 card p-4 rounded-lg shadow-sm">
            <div class="col-md-12">
              <p>{{object.eligibility|safe}}</p>
            </div>
          </article>
        </div>
        <div id="benefits">
          <h4>Benefits</h4>
          <article class="row mb-4 card p-4 rounded-lg shadow-sm">
            <div class="col-md-12">
              {{ object.benefits|safe }}
            </div>
          </article>
        </div>
        {% comment %} Eligibility {% endcomment %}
        
        <div id="documentsRequired">
          <h4>Document Required</h4>
          <article class="row mb-4 card p-4 rounded-lg shadow-sm">
            <div class="col-md-12">
              {{ object.documentsRequired|safe }}
            </div>
          </article>
        </div>
        <div id="applicationProcess">
          <h4>Application Process</h4>
          <article class="row mb-4 card p-4 rounded-lg shadow-sm">
            <div class="col-md-12 pdf_data">
              {{ object.applicationProcess|safe }}
            </div>
          </article>
        </div>
        <div id="sources">
          <h4>Reference</h4>
          <article class="row mb-4 card p-4 rounded-lg shadow-sm">
            <div class="col-md-12">
              <p>
                {{object.references|safe}}
              </p>
            </div>
          </article>
        </div>
        <div id="image">
          <h4>Image</h4>
          <article class="row mb-4 card p-4 rounded-lg shadow-sm">
            <div class="col-md-12">
            {% if object.image %}
            <img class="img-fluid rounded" src="{{ object.image.url }}" width = '400px'>
            {%else%} Not Mention{%endif%}
            </div>
          </article>
        </div>
      </div>
      <aside class="col-lg-4" style="
          position: sticky;
          align-self: flex-start;
          top: 100px;
          height: fit-content;
          overflow: auto;"
      >
        <!-- Search -->

        <!-- categories -->
        <div class="widget">
          <h5 class="widget-title"><span>List</span></h5>
          <ul class="list-unstyled widget-list">
            {% for key,value in fields.items %}
            <li>
              <a href="#{{key}}" class="d-flex">{{value}} </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- tags -->
        <!-- <div class="widget">
                <h5 class="widget-title"><span>Tags</span></h5>
                <ul class="list-inline widget-list-inline">
                   <li class="list-inline-item"><a href="#!">Booth</a>
                   </li>
                   <li class="list-inline-item"><a href="#!">City</a>
                   </li>
                   <li class="list-inline-item"><a href="#!">Image</a>
                   </li>
                   <li class="list-inline-item"><a href="#!">New</a>
                   </li>
                   <li class="list-inline-item"><a href="#!">Photo</a>
                   </li>
                   <li class="list-inline-item"><a href="#!">Seasone</a>
                   </li>
                   <li class="list-inline-item"><a href="#!">Video</a>
                   </li>
                </ul>
             </div> -->
        <!-- latest post -->
        <div class="widget">
          <h5 class="widget-title"><span>Latest Article</span></h5>
          <!-- post-item -->
          <ul class="list-unstyled widget-list">
            {% for n in latestNews %}
            
              <li class="media widget-post align-items-center">
                <a 
                {% comment %} href="{% url 'news' new1 %}" {% endcomment %}
                >
                <img loading="lazy" class="mr-3" src="{{ n.image.url }}">
                </a>
                <div class="media-body">
                  <h6 class="h6 mb-0"><a href="#">{{n.headline}}
                  </a></h6>
                  <small>{{ n.date|date:"M d, Y" }}</small>
                </div>
              </li>
          {% endfor%}
          <ul>
        </div>
        </div>
      </aside>
    </div>
  </div>
</section>
{% endblock content %}