{% extends "schemes/base.html" %} 
{% load my_tags %}
{% load crispy_forms_tags %}
{% block content %}
<section class="mt-4">
  <div class="container">
    <div class="row">
      <aside class="col-lg-4 order-1 order-lg-1">
        <div class="widget mb-3">
          <div class="row">
            <div class="col">
              <h4>Filter By <i class='h5 ti-filter'></i></h4>
            </div>
            <div class='col text-right'>
              {% if has_filter %}
                  <a href={{request.path}}>Clear all filters</a>
              {% endif %}
            </div>
          </div>
        </div>
        <form method="get">
        <!-- Search -->
          <div class="widget">
            
            <h5 class="widget-title"><span>Search</span></h5>
            {{ filter.form.search|as_crispy_field }}

            {% comment %} <form class="widget-search">
              <input
                id="search"
                name="search"
                type="search"
                placeholder="Type &amp; Hit Enter..."
                value="{{search_input}}"
              />
              <button type="submit"><i class="ti-search"></i></button>
            </form> {% endcomment %}
          </div>
          
            {% comment %} {{ filter.form|crispy }} {% endcomment %}
            
          <!-- categories -->
          <div class="widget">
            <h5 class="widget-title"><span>Categories</span></h5>
            {{ filter.form.category|as_crispy_field }}
            {% comment %} <button class="btn btn-sm btn-danger" type="submit">Submit</button> {% endcomment %}
          </div>
          <div class="widget">
            <h5 class="widget-title"><span>Ministries</span></h5>
            {{ filter.form.ministry|as_crispy_field }}
            {% comment %} <button class="btn btn-sm btn-danger" type="submit">Submit</button> {% endcomment %}
          </div>
          <div class="widget">
            <h5 class="widget-title"><span>State</span></h5>
            {{ filter.form.state|as_crispy_field }}
            {% comment %} {{ filter.form.tags|as_crispy_field }} {% endcomment %}
            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
          </div>
        </form>
        
        <!-- tags -->
        <div class="widget">
          <h5 class="widget-title"><span>Tags</span></h5>
          <ul class="list-inline widget-list-inline">
            {% for tag in tags%}
            <li class="list-inline-item"><a href="{% url 'tagged' tag.slug %}">{{tag}}</a></li>
            {% endfor %}
          </ul>
          
        </div>
        <!-- latest post -->
        <div class="widget">
          <h5 class="widget-title"><span>Latest Article</span></h5>
          <!-- post-item -->
          <ul class="list-unstyled widget-list">
            {% for n in latestNews %}
              <li class="media widget-post align-items-center">
                <img loading="lazy" class="mr-3" src="{{ n.image.url }}">
                <div class="media-body">
                  <h6 class="h6 mb-0"><a href="{% url 'newsdetail' n.slug %}">{{n.headline}}
                  </a></h6>
                  <small>{{ n.date|date:"M d, Y" }}</small>
                </div>
              </li>
            {% endfor%}
          </ul>
        </div>
      </aside>
      <div class="col-lg-8 order-2 order-lg-2 mb-5 mb-lg-0 ">
      <div>

        <h6> We have found <strong style="color:#ce8460;font-size:17px">{{page_obj.paginator.count}}</strong> schemes </h6>
        <hr>
        {% for scheme in schemes %}
        <article class="row mb-3 shadow-sm border rounded-lg bg-light bg-gradient">
  
   
          <div class="col-md-12 mb-3 mt-3">
            <h4>
              <a class="post-title text-primary" href="{% url "schemedetail" scheme.slug%}"
                >{{scheme.name}}</a
              >
            </h4>
            <ul class="list-inline post-meta mb-2">
              <!-- <li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John Doe</a>
                    </li> -->
              
              {% if scheme.ministry%}      <li class="list-inline-item"><a href="{%url 'ministry' scheme.ministry.slug%}" class="text-secondary"><strong style="font-size: initial">{{scheme.ministry}}</strong></a></li> {%endif%}
              {% comment %}
              <li class="list-inline-item">
                Categories : <a href="#!" class="ml-1">Photography </a>
              </li>
              {% endcomment %}
            </ul>
            <p class="h6">{{scheme.brief}}</p>
            {% comment %} <ul class="list-inline post-meta mb-2">
              <li class="list-inline-item"> {% endcomment %}
                
              {% comment %} </li>
            </ul> {% endcomment %}
            <div class="d-flex justify-content-between">
              <div class=' flex items-center  gap-4  justify-between items-center !justify-start !gap-1 flex-wrap'>
                <h6>{% for tag in scheme.tags.all %}
                  <a href="{% url 'tagged' tag.slug %}" class="badge bg-secondary bg-lighten-md text-light hover:shadow-md mr-2 mt-1 cursor-pointer " style="font-size:inherit">{{ tag }}</a>
                  {% endfor %}
                </h6>
              </div>
                <div class="flex-col self-end align-self-center">
                  <a href="{% url "schemedetail" scheme.slug%}" class="btn pt-1 pb-1 btn-outline-primary ml-auto mr-3">
                    More Details
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-blue-900 cursor-pointer mr-2 opacity-50 cursor-not-allowed" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                      <path fill="none" d="M0 0h24v24H0V0z"></path>
                      <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"></path>
                    </svg>
                  </a>
                </div>
            
            </div>
          </div>
        </article>
        
        {% endfor %}
        {% if schemes|length < 1 %}
          <div id="mainC " class='justify-content-sm-center col-lg-8 order-1 order-lg-2 mb-5 mb-lg-0'>
            <div class="container">
              <div class= 'row' style='justify-content: center'>

              <div class="not_found ">
                <i class='ti-face-sad'></i>
              
              </div> 
            </div>
              <h3>No schemes found</h3>
            </div>
    
          </div>
        {% endif%}
       </div>
       <style>
        .pagination{
          padding: 30px 0;
        }

        .pagination ul{
          margin: 0;
          padding: 0;
          list-style-type: none;
        }

        .pagination a{
          display: inline-block;
          padding: 10px 18px;
          color: #222;
        }

        /* ONE */
        .p1 a.is-active{
          background-color: #ce8460;
          border-radius: 100%;
          color: #fff;
          opacity:1;
        }
        .invalid-feedback{
          display:none !important
        }
       </style>
       

       <div class="">
        <div class="pagination p1">
          
        {% if is_paginated %}
          <ul>
            {% if page_obj.has_previous %}
              <a href="?{% param_replace page=page_obj.previous_page_number %}" class="btn btn-outline-primary">
                <li><i class="ti-angle-left"></i></li>
              </a>
              {% else %}
              <a href="" class="btn btn-outline-primary disabled">
              <li><i class="ti-angle-left"></i></li></a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a href="?{% param_replace page=num %}" class="btn btn-outline-primary" style="background-color:#ce8460;color:#fff">
                  <li>{{page_obj.number}}</li>
                </a>
              {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                <a href="?{% param_replace page=num %}" class="btn btn-outline-primary">{{num}}
                </a>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <a href="?{% param_replace page=page_obj.next_page_number %}" class="btn btn-outline-primary">
                <li><i class="ti-angle-right"></i></li>
              </a>
            {% else %}
              <a href="" class="btn btn-outline-primary disabled">
                <li><i class="ti-angle-right"></i></li>
              </a>
            {% endif %}
          </ul>
          {% comment %} <div>
            <br>
          Page {{ page_obj.number }} of {{ paginator.num_pages }}
          </div> {% endcomment %}
        {% endif %}
        
      </div>
      
    </div>
    </div>
    </div>
  
  </div>


</section>

{% endblock content %}