{% extends "editor/base.html" %}
{% block content %}
        <div class="row d-flex">
            <div class="col-md-4">
                <div class="row">
                   
                    <div class="col-md-6 mb-2 p-0">
                        <button type="button" class="btn btn-primary send-mail btn-sm" disabled="disabled"> <i class="fa fa-share"></i> Send Mail</button>
                    </div>
                    <div class="col-md-6 success-mail p-0" style="display: none;">
                        <div class="alert p-2 alert-success m-0">
                          Mail Sent Successfully.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><input type="checkbox" value="1" name="user-all" class="user-all"></th>
                                {% comment %} <th>Name</th> {% endcomment %}
                                <th>UserEmail</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% csrf_token %}
                            {% for user in users %}
                            <tr>
                                <td><input type="checkbox" name="ckeck_user[]" class="ckeck_user" value="{{ user.id }}"></td>
                                {% comment %} <td>{{ user.username}}</td> {% endcomment %}
                                <td><a class="open-modal" data-url="{% url 'up' id=user.id %}">{{ user.email }}<i class='ti-link'></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="modal-div"></div>
            </div>
            <div class="col-md-8">
                <div>
                    <div class="form-check">
                        <input class='form-check-input' type = "checkbox" name = "isCustomMessage" id="isCustomMessage"><label class="form-check-label" for = 'isCustomMessage'>CustomMessage</label><br>
                    </div>
                    <textarea class= 'form-control input-disabled' name='messageContent' id='messageContent' disabled="disabled" placeholder = 'Enter the custom message to be send'></textarea>
                </div>
            </div>
        </div>
    <script>
        
    $('.user-all').change(function (e) {
        var value = $('.user-all:checked').val();
        if (value == 1) {
            $('.ckeck_user').prop('checked',true);
            $('.send-mail').removeAttr('disabled');
        }else{
            $('.ckeck_user').prop('checked',false);
            $('.send-mail').attr('disabled','disabled');
        }
    });  

    $(".ckeck_user").change(function () {
        if ($(".ckeck_user:checked").length > 0) {
          $('.send-mail').removeAttr('disabled');
        }else{
         $('.send-mail').attr('disabled','disabled');
       }
     });

    $('.send-mail').click(function (e) {
        e.preventDefault();
        var ids = [];
        var token = $('input[name="csrfmiddlewaretoken"]').val();
        var message = $('textarea[name="messageContent"]').val();
        if (message.lenght==0){
            return;
        }

        console.log(message);
        $('.ckeck_user:checked').each(function(i){
            ids[i] = $(this).val();
        })

        if (ids != '') {
            $(this).attr("disabled", true);
            $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending..');
            $.ajax({
                url: '{% url "email" %}',
                type: 'POST',
                data: {
                    ids:ids,
                    isCustomMessage:$("#isCustomMessage").is(":checked"),
                    message:message,
                    csrfmiddlewaretoken: token,
                },
                success: function (data) {
                    $('.success-mail').css('display','block');
                    $('.ckeck_user, .user-all').prop('checked',false);
                    setTimeout(function () {
                        $('.success-mail').css('display','none');
                    }, 2500)
                    $('.send-mail').html('Send Mail');
                }
            });
        }
    });
    var modalDiv = $("#modal-div");

    $(".open-modal").on("click", function() {
    $.ajax({
        url: $(this).attr("data-url"),
        success: function(data) {
        modalDiv.html(data);
        $("#myEdit").modal();
        }
    });
    });
    $("#isCustomMessage").change(function () {
        if ($("#isCustomMessage:checked").length ) {
          $('#messageContent').removeAttr('disabled');
          $('#messageContent').removeClass('input-disabled');
        }else{
         $('#messageContent').attr('disabled','disabled');
         $('#messageContent').addClass('input-disabled');
       }
    });
</script>
<style>
    .input-disabled{
        background-color:#36353545 !important;
        text-decoration: line-through;
    }
</style>
{% endblock content%}
